body > *{
  display: flex;
  flex-direction: row;
}
.tshirt-container {
  width: 394px;
  height: 440px;
  background-color: white;
  padding: 0;
  border: 3px solid #5CA4D7;
  margin: 42px 25px 0px 25px;

}
ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  border-top: 3px solid #5CA4D7;
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: 0;
  left: 0;
}
.listcontainer {

  width: 395px;
  height: 55px;
  margin: 0px;
  padding: 0px;
  position: relative;
  bottom: 0;
  left: 0;
}
li {
  height: 55px;
  width: 77px;
  border-left: 3px solid #5CA4D7;
  position: relative;
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  color: #5CA4D7;
  background-color: white;
  text-align: center;
  align-self: center;
  justify-content: center;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
}
li img {
  align-self: center;
  justify-content: center;
}
li i {
  align-self: center;
  justify-content: center;
  padding: 0px 3px 3px;
}
ul a {
  border-left: 3px solid #5CA4D7;
  text-decoration: none;
}
li:first-of-type {
  border-left: none;
}
.flip-button {
  border-left: 3px solid #5CA4D7;
  border-bottom: 3px solid #5CA4D7;
  position: relative;
  float: right;
  width: 30px;
  height: 25px;
  right: 0px;
  top: 0px;
  padding-top: 5px;
  z-index: 2;
  background-color: white;
  color: #5CA4D7;
  align-content: center;
  text-align: center;

}


.flipper {
  position: relative;
  width: 395px;
  height: 380px;
}
.front, .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 395px;
  height: 380px;
}
.text {
  font-size: 28px;
  width: 395px;
  height: 55px;
  border: none;
  display: flex;
  flex-direction: row;
  margin: 25px 25px 0px 25px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 6px;
  padding-right: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: sans-serif;
  color: #5CA4D7;

}
